<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lead Generation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/formss.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Lead Generation</a>
            <!-- Links -->
        </div>
    </nav>
    <div class="card bg-info text-white" style="width: 1600;">
        <div class="card-body">
            <div>
                <h2 class="text-center my-2">Text Analysis with Spacy</h2>
            </div>
            <div>
                <form action="{{url_for('dataconvert')}}">
                    <label for="inputText">Enter the text here:</label>
                    <input type="text" name="inputText">
                    <input type="submit" value="Submit Form">
                </form>
                <!-- <div class="container">
                    <h3>Enter the text here:</h3>
                    <textarea style="width: 1100px" , "display:inline" class="form-control" rows="10"
                        name="inputText"></textarea>
                    <br>
                    <button onclick=" {{url_for('dataconvert')}}" type="button" class="btn btn-dark">Submit</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="card" style="width: 1600;">
        <div class="card-body">
            <div class="container">
                <h3>Output</h3>
                <br>
                <h5>Text: The original word text.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for item in lemmaOutput %}
                        <span class="badge badge-secondary">{{item}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <!-- <h5>Text Label: Entity label, i.e. type.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for item in lemmaOutput %}
                        <span class="badge badge-secondary">{{item}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br> -->
                <h5>Text Lemma: The base form of the word.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for lemma in lemmaOutput %}
                        <span class="badge badge-secondary">{{lemma}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <h5>Text POS: The simple part-of-speech tag.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for pos in posOutput %}
                        <span class="badge badge-secondary">{{pos}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <h5>Text Dep: Syntactic dependency, i.e. the relation between tokens.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for dep in depOutput %}
                        <span class="badge badge-secondary">{{dep}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <h5>Text Shape: The word shape – capitalization, punctuation, digits.</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for shape in shapeOutput %}
                        <span class="badge badge-secondary">{{shape}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <h5>Text is stop: Is the token part of a stop list, i.e. the most common words of the
                    language?</h5>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        {%for stop in stopOutput %}
                        <span class="badge badge-secondary">{{stop}}</span>
                        {%endfor%}
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>

</html>